@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--font-family: "Kumbh Sans", sans-serif;
	--font-weight-headers: 700;
	--font-weight-paragraph: 400;

	--bg-color-main: hsl(185, 75%, 39%);
	--fcolor-header: hsl(229, 23%, 23%);
	--fcolor-paragraph: hsl(227, 10%, 46%);
}

body {
	font-family: var(--font-family);
	background-color: var(--bg-color-main);

	background-image: url(/images/bg-pattern-top.svg),
		url(/images/bg-pattern-bottom.svg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: left -30vw top -45vw, right -30vw bottom -45vw;
	background-size: 80%;
}

main {
	display: flex;
	min-width: 100%;
	min-height: 100vh;
	justify-content: center;
	align-items: center;
}

.container {
	display: grid;
	place-items: center;
	position: relative;
	row-gap: 5px;
	min-width: 350px;
	max-height: 375px;
	background-color: white;
	border-radius: 0.5rem;
	overflow: hidden;
}

.container > img[alt="profile picture"] {
	position: absolute;
	top: 92px;
	left: 35%;

	border: 5px solid white;
	border-radius: 50%;
}

.name-box {
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 10px;
	margin-top: 67px;
}

.name-box > h1 {
	color: var(--fcolor-header);
	font-size: 18px;
	font-weight: 700;
}

.name-box > span {
	font-weight: 400;
	color: var(--fcolor-paragraph);
}

.container > span {
	font-size: 15px;
	color: var(--fcolor-paragraph);
	font-weight: var(--font-weight-paragraph);
	margin-bottom: 5%;
}

hr {
	width: 100%;
	border: 1px solid hsla(0, 0%, 59%, 0.205);
}

.stats {
	display: grid;
	width: 100%;
	grid-template-columns: repeat(3, 1fr);
	text-align: center;
	justify-content: space-evenly;
	padding: 20px;
}

.stats h2 {
	font-size: 18px;
	color: var(--fcolor-header);
}

.stats p {
	font-size: 15px;
	color: var(--fcolor-paragraph);
}
